OPENAI_AGENTS_DISABLE_TRACING=1

# for dashscope
LITELLM_MODEL="openai/qwen-flash"
BASE_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"
API_KEY = "sk-xxxxxxxxxxxxxxxxxxx"

# disable litellm acessing github load cost map , cause slow startup
LITELLM_LOCAL_MODEL_COST_MAP=True

# for doubao
DOUBAO_APP_ID=""
DOUBAO_ACCESS_TOKEN=""

# GLM KEY
GLM_API_KEY=""

# skip cost calculate
LITELLM_LOCAL_MODEL_COST_MAP=True

# MCP url (optional)
MCP_SERVER_URL=